@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web&display=swap');

:root {
    --primary-teal: #3AAFA9;
    --dark-teal: #2C7B7A;
    --primary-yellow: #FFD166;
    --dark-yellow: #CCAA4F;
    --cream: #F4ECE1;
    --charcoal: #333333;
    --rust-orange: #D1495B;
    --darker-rust-orange: #A13745;
    --olive-green: #808F85;
    --dark-gray: #555555;
    --action-color: #2C7B7A;
    --blue: #3E92CC;
    --darker-blue: #306B99;
}

body {
    background-color: var(--cream);
    color: var(--charcoal);
}

a {
    color: var(--rust-orange);
    font-family: 'Titillium Web', sans-serif;
}

p {
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
}

.button-orange {
    background-color: var(--rust-orange);
    color: white;
}

.button-orange:hover {
    background-color: var(--darker-rust-orange);
}

.button-blue {
    background-color: var(--blue);
    color: white;
}

.button-blue:hover {
    background-color: var(--darker-blue);
    color: white;
}

.button-yellow {
    background-color: var(--primary-yellow);
}

.button-yellow:hover {
    background-color: var(--dark-yellow);
}

nav {
    border-bottom: 3px solid var(--primary-yellow);
    margin-bottom: 80px;
}

.navbar {
    background-color: var(--primary-teal);
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    font-size: 20px;
    font-family: monospace;
    background-color: #4e4e4e;
    border-radius: 12px;
    border: 1px solid var(--dark-yellow);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nav-btn {
    margin-left: 20px;
}

.btn {
    border-radius: 0;
}

.blur-border {
    border-bottom: 4px solid var(--primary-teal);
    box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.4);
}

.nav-btn:hover {
    background-color: white;
    color: black;
}

#logout-btn:hover {
    background-color: darkred;
    color: white;
}

.blogPost-title {
    margin-top: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
}

.blogPost-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px
}

.blogPost-author, .blogPost-date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: gray;
    margin-bottom: 2px;
}

.blogPost-date {
    margin-top: 0;
}

.new-post-form {
    display: none;
}

.form-control:focus {
    border-color: var(--primary-teal);
    box-shadow: 0 0 0 0.25rem rgba(0, 128, 0, 0.25);
}

.footer {
    background-color: #75ba75;
    font-family: 'Pridi', serif;
    font-size: 22px;
    color: white;
}